<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am an astrophysicist working on various aspects related to neutron stars. These are one of the possible end-points of the evolution of a massive star, and are amongst the most compact objects in the Universe, just below black holes. They are observed in a range of wavelegths and environments, but my favourite ones are the isolated ones that emit in the X-rays. 
            </p>
            <p class="paragraph-text justify-text">
                My research mainly focusses on numerical models of the evolution of isolated neutron stars, which provide an unique blend of nuclear physics, magnetohydrodynamics and advanced numerical methods. I am also involved in the interpretation of obervations from X-ray satellites (such as XMM-Newton and NICER) and have direct experience in data analysis.
            </p>
            <p class="paragraph-text justify-text">
                My current research projects involve <i>magnetars</i>, stars that harbour the strongest magnetic fields ever registered (up about a quadrillion times the Earths's one!). Due to their extreme magnitisation, they host powerful explosions that light up the X-ray sky. Modelling them is the challenge! 
            </p>
        </div>
    </section>
</div>

<!-- <a href="https://stallman.org/articles/on-hacking.html"> -->
